<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
	
	<title>Countdown</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Countdown">
	<link rel="apple-touch-icon" href="touch-icon.jpg">

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
	<script src="bower_components/lodash/lodash.min.js"></script>
	<link rel="stylesheet" href="style.css">

</head>
<body>
	<div class="main">
	  <div class="countdown-container" id="main"></div>
		<div id="until">
			jusqu'au : 
		</div>
	</div>
	

	<script type="text/template" id="main-template">
	<div class="time <%= label %>">
	  <span class="count curr top"><%= curr %></span>
	  <span class="count next top"><%= next %></span>
	  <span class="count next bottom"><%= next %></span>
	  <span class="count curr bottom"><%= curr %></span>
	  <span class="label"><%= label %></span>
	</div>
	</script>
	<script type="text/javascript">
	  $(window).on('load', function() {
	  	document.ontouchmove = function(event){
			event.preventDefault();
		}
	  	
	  	var endDate = "2015/03/19 20:17:00 PDT";

		$("#until").append(endDate);

	    var labels = ['semaines', 'jours', 'heures', 'minutes', 'secondes'],
	      template = _.template($('#main-template').html()),
	      currDate = '00:00:00:00',
	      nextDate = '00:00:00:00',
	      parser = /([0-9]{2})/gi,
	      $example = $('#main');
	    // Parse countdown string to an object
	    function strfobj(str) {
	      var parsed = str.match(parser),
	        obj = {};
	      labels.forEach(function(label, i) {
	        obj[label] = parsed[i]
	      });
	      return obj;
	    }
	    // Return the time components that diffs
	    function diff(obj1, obj2) {
	      var diff = [];
	      labels.forEach(function(key) {
	        if (obj1[key] !== obj2[key]) {
	          diff.push(key);
	        }
	      });
	      return diff;
	    }
	    // Build the layout
	    var initData = strfobj(currDate);
	    labels.forEach(function(label, i) {
	      $example.append(template({
	        curr: initData[label],
	        next: initData[label],
	        label: label
	      }));
	    });
	    // Starts the countdown
	    $example.countdown(endDate, function(event) {
	      var newDate = event.strftime('%w%d:%H:%M:%S'),
	        data;
	      if (newDate !== nextDate) {
	        currDate = nextDate;
	        nextDate = newDate;
	        // Setup the data
	        data = {
	          'curr': strfobj(currDate),
	          'next': strfobj(nextDate)
	        };
	        // Apply the new values to each node that changed
	        diff(data.curr, data.next).forEach(function(label) {
	          var selector = '.%s'.replace(/%s/, label),
	              $node = $example.find(selector);
	          // Update the node
	          $node.removeClass('flip');
	          $node.find('.curr').text(data.curr[label]);
	          $node.find('.next').text(data.next[label]);
	          // Wait for a repaint to then flip
	          _.delay(function($node) {
	            $node.addClass('flip');
	          }, 50, $node);
	        });
	      }
	    });
	  });
	</script>
</body>
</html>